
.logo{
position: fixed;
text-align: center;
background-color: blanchedalmond;
color: rgb(9, 9, 9);
width: 100%;
top: 0%;
left:0;
height: 4rem;
}
.btn-container{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
.btn-container button{
  border-radius: 1.5rem;
  padding: 1rem;
}
.btn-container button:hover{
  box-shadow: 0px 1px 15px 3px gray;
}
.media-container{
  /* display: flex; */
  /* flex-wrap: wrap; */
  gap: 1rem;
  padding-inline: 8rem;
  justify-content: space-between;
  margin-top: 4rem;
}
.video-cover{
  height: 600px;
  padding: 0;
  margin-bottom: -4rem;
}
.show-more{
  color: white;
  position: relative;
  margin-top: -4rem;
  overflow: hidden;
  margin-right: 4rem;
  border-radius: 3px  ;
  /* margin-inline: auto; */
  
}
.details{
  overflow: hidden;
  transition: 0.5s ease-in-out;
  height: 4rem;
  padding: 1rem;
  max-width: 216px;
  margin-top: -4.5rem;
  background-color: white;
  color: black;
}

.loader{
  position: absolute;
  left: 45%;
  top: 40%;
  color: white;
}
/* Carousel Styles */

.carousel-main{
  overflow:hidden; 
  position: relative;
  width: 1000px;
  margin-inline: auto;
  
}
.inner{
  display:flex;
  /* flex-wrap: wrap; */
margin-top: 4rem;
  gap: 6rem;
  /* width: 1000px; */
  margin-inline: auto;
  transition: 0.5s ease-in;
}
.controls{
  position: absolute;
  display: flex;
  height: 2rem;
  align-items: center;
  margin-inline: auto;
  justify-content:space-between;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  width: 100%;
  z-index: 1000;
}
.controls button{
  background-color: transparent;
  padding: .25rem;
  color: gray;
  height: 3rem;
  width:3rem;
  border-radius: 50%; 
  border:none;

}
.controls button:hover{
  color: rgb(145, 140, 140);
}
.error{
  text-align: center;
  color: red;
}

@media screen and (max-width: 600px){
  .logo{
    display: none;
  }
  .media-container{
    padding: 0;
  }
} 